force-app/main/default/flows/IrrigationManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <status>ACTIVE</status>
    <assignments>
        <name>Flag_as_Exceeding_Accepted_Overrides</name>
        <label>Flag as Exceeding Accepted Overrides</label>
        <locationX>281</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>varOverridesExceeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMsgText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alertAndMaintenanceMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateHarvestRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAlertMsg</name>
        <label>setAlertMsg</label>
        <locationX>74</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>varMsgText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAlertMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateHarvestRecord</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>defaultDuration</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>defaultStartTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>14:00</stringValue>
        </value>
    </constants>
    <constants>
        <name>overrideCap</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Number_of_Accepted_Overrides_Exceeded</name>
        <label>Number of Accepted Overrides Exceeded</label>
        <locationX>74</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Accepted_Overrides_Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncrementedOverrides</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IncrementedOverrides</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>overrideCap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Irrigation_Malfunction_Report</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
        <rules>
            <name>Accepted_Overrides_Not_Exceeded</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IncrementedOverrides</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IncrementedOverrides</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IncrementedOverrides</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>overrideCap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAlertMsg</targetReference>
            </connector>
            <label>Not Exceeded</label>
        </rules>
    </decisions>
    <description>With critical override thresholds and record updates.</description>
    <formulas>
        <name>alertAndMaintenanceMsg</name>
        <dataType>String</dataType>
        <expression>{!varAlertMsg} + ' ' + {!Additional_maintenance_notes}</expression>
    </formulas>
    <formulas>
        <name>IncrementedOverrides</name>
        <dataType>Number</dataType>
        <expression>ABS({!varExistingOverrides})+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IrrigationManagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IrrigationManagement</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_Irrigation_Alert</name>
        <label>Publish Irrigation Alert</label>
        <locationX>166</locationX>
        <locationY>556</locationY>
        <assignRecordIdToReference>varIrrigationEvent</assignRecordIdToReference>
        <inputAssignments>
            <field>Alert_Text__c</field>
            <value>
                <elementReference>varMsgText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exceeds_Acceptable_Overrides__c</field>
            <value>
                <elementReference>varOverridesExceeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Irrigation_Alert__e</object>
    </recordCreates>
    <recordUpdates>
        <name>updateHarvestRecord</name>
        <label>updateHarvestRecord</label>
        <locationX>171</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Publish_Irrigation_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Irrigation_Overrides__c</field>
            <value>
                <elementReference>IncrementedOverrides</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Irrigation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Harvest_Field__c</object>
    </recordUpdates>
    <screens>
        <name>Irrigation_Malfunction_Report</name>
        <label>Irrigation Malfunction Report</label>
        <locationX>283</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flag_as_Exceeding_Accepted_Overrides</targetReference>
        </connector>
        <fields>
            <name>MaintenanceNotice</name>
            <fieldText>Total irrigation overrides for this Harvest Field exceed accepted levels. A notice to our maintenance team will be sent. Add any additional details below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_maintenance_notes</name>
            <fieldText>Additional maintenance notes:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>IrrigationMgmt</name>
        <label>IrrigationMgmt</label>
        <locationX>74</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Number_of_Accepted_Overrides_Exceeded</targetReference>
        </connector>
        <fields>
            <name>IrrigationManager</name>
            <extensionName>c:IrrigationManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ldsRecId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startTime</name>
                <value>
                    <elementReference>defaultStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>duration</name>
                <value>
                    <elementReference>defaultDuration</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAlertMsg</assignToReference>
                <name>msgText</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varExistingOverrides</assignToReference>
                <name>overrideCount</name>
            </outputParameters>
        </fields>
    </screens>
    <startElementReference>IrrigationMgmt</startElementReference>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAlertMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingOverrides</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varIrrigationEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMsgText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOverridesExceeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
